<app-branch-cubes/>

<div id="container">
    @if(loggedIn){
        <button (click)="onClick()">DASHBOARD 🗂️</button>
    }
    <div id="main-content"> 
          
        <p>WHERE KNOWLEDGE</p>
        <p>knows no boundaries</p>
        <p>AcademiHub connects students across disciplines to share and discover valuable academic resources.
            Break down traditional subject barriers and enrich your learning journey through collaborative 
            knowledge exchange.</p>
    </div>
</div>

