#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content:space-around;
}

p:nth-child(1){
    color: whitesmoke;
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
    letter-spacing: 0.5rem;
}
p:nth-child(2){
    color: whitesmoke;
    font-size: 4.3rem;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -60px;
}
p:nth-child(3){
    color: #FFBF00;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 50%;
}

button{
    cursor: pointer;
    height: 60px;
    width: 220px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #394d61, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #152331, #171b1d);;
    color: #ffffff;
    margin-top: 50px;
}

button:hover{
    border: 1px solid whitesmoke;
}
