.auth-container {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #394d61, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #152331, #171b1d);
    padding: 20px;
    position: fixed;
  top: 25%;
  left: 30%;
  }
  
  .auth-card {
    /* background: white; */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.645);
  }

  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-group label {
    color: #cbcbcb;
    font-size: 1.3rem;
  }
  
  .form-group input,select {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .auth-button {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #394d61, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #152331, #171b1d);
    color: white;
    padding: 0.75rem;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    color: rgb(219, 211, 211);
    background: #87b4cb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bbbdb, #c5d9e3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #152331, #485e69);

  }
  
  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  
  
  
  .form-row {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  
  .form-row .form-group {
    flex: 1;
    min-width: 250px;
  }
  
  #fileD{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #file{
    height: 50px;
    border-radius: 10px;
    font-size:1.3rem;
    width: 80%;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #394d61, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #152331, #171b1d);
    color: whitesmoke;
    transition: background-color 0.3s ease;
    border: 1px solid grey;
    cursor: pointer;
  }

  #file:hover {
    color: rgb(219, 211, 211);
    background: #87b4cb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bbbdb, #c5d9e3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #152331, #485e69);
  }

  .file-name{
    color: grey;
  }

  